body,td,th {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: x-large;
  color: #FFFFFF;
}

body {
  background-image: url("background.jpg");
}

.question { color: #FFCC33; }
.emph     { color: #EE82EE; }
.alert    { color: #ee77aa; }

.right {
  color: #33FF66;
  font-weight: bold;
}
.wrong {
  color: #FF3366;
  font-weight: bold;
}

a:link    { color: #CCFFFF; }
a:visited { color: #CCFFFF; }

input {
  background-color: #eeee66;
  color: #333399;
}

code {
  font-family: Consolas, "Andale Mono", "Courier New", monospace, sans-serif;
  color: #eeee99;
  font-size: 120%;
}

span.removed {
  color: #ff9977;
  text-decoration: underline red;
}

code.block {
  background-color: #66eeee;
  color: #993333;
  overflow-wrap: break-word;
  display: block;
  border: 1px solid black;
  padding: 8px;
  width: 95%;
  line-height: 1em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

input.box {
  overflow-wrap: break-word;
  font-family: Consolas, "Andale Mono", "Courier New", monospace, sans-serif;
  font-size: 120%;
  color: #333333;
  border: 1px solid black;
  padding: 8px;
}

input.button {
  font-size: 120%;
  background-color: #99ee99;
  color: #333399;
  border: 1px solid black;
  padding: 8px;
}

.rfooter {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: right;
  font-size: 70%;
}

.lfooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: left;
  font-size: 70%;
}